@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
}

.btn {
  position: relative;
  width: 220px;
  height: 70px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  transition: 0.3s ease;
  overflow: hidden;
}

.btn:active {
  transform: scale(0.9);
}
.btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-wrap: nowrap;
  z-index: 3;
}

.btn.clicked .add {
  animation: text1Anim 1.5s ease-in-out;
}
@keyframes text1Anim {
  0% {
    opacity: 1;
  }
  20%,
  100% {
    opacity: 0;
  }
}

.btn .cart {
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  z-index: 2;
}

.btn.clicked .cart {
  animation: cartAnim 1.5s ease-in-out forwards;
}

@keyframes cartAnim {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}

.btn .shirt {
  position: absolute;
  top: -20%;
  left: 52%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  z-index: 3;
}
.btn.clicked .shirt {
  animation: shirtAnim 1.5s ease-in-out forwards;
}

@keyframes shirtAnim {
  0%,
  40% {
    top: -20%;
  }
  60% {
    top: 40%;
    left: 52%;
  }
  100% {
    top: 40%;
    left: 112%;
  }
}

.btn .added {
  color: #3f7d05;
  opacity: 0;
}

.btn.clicked .added {
  animation: txt2Anim 1.5s ease-in-out forwards;
}

@keyframes txt2Anim {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
